/* Write your CSS here */

.popup-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.close-button {
  cursor: pointer;
  align-self: flex-end;
  color: blue;
}
